
<!-- <div class="well">
  <div class="container-carousel">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      Indicators
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      Wrapper for slides
      <div class="carousel-inner">

        <div class="item active">
          <%= image_tag '1.jpg'%>
        </div>

        <div class="item">
          <%= image_tag '2.jpg' %>
        </div>

        <div class="item">
          <%= image_tag '3.jpg' %>
        </div>
      </div>

      Left and right controls
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div> -->
<div class="jumbotron">
  <div class="container text-center">
    <h1 id="about-us">О нас</h1>
    <p><span class="club-name-letters">S</span>tudents
    <span class="club-name-letters">I</span>n
    <span class="club-name-letters">D</span>evelopment
    <span class="club-name-letters">O</span>f
    <span class="club-name-letters">K</span>yrgyzstan</p>

    <div class="video-container">
      <iframe src="https://www.youtube.com/embed/kkaIOlS1imA?controls=0">
      </iframe>
   </div>

   <div class="video-container">
      <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fsidok.kg%2Fvideos%2F625929284179875%2F&show_text=0" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
   </div>

  </div>
</div>

<div class="jumbotron">
  <div class="container text-center">
    <h1 id="projects">Наши проекты:</h1>
    <div>
      <h2>Проект "Смайл!"</h2>
      <%= image_tag 'smile.jpg', class: 'img-responsive' %>
      <details>
  <summary>Подробнее...</summary>
  Ежегодный проект "Улыбка!Smile!" проводится с 2008 годв. Целевой аудиторией проекта являются воспитанники детских домов и интернатов Кыргызской Республики. Целью проекта является информационное просвещение детей, оказание моральной поддержки. Так как участники проекта в основном старшеклассники, мы даем информацию о высших учебных заведениях Кыргызстана. В следующем году проекту исполняется 10 лет. За 6 лет мы смогли обучить 60 детей. На данный момент некоторые из выпускников проекта обучается за границей. Может в этом есть и наша маленькая заслуга. С 2014 года на проекте участвуют по  12 участников.
</details>
    </div>
    <hr>
    <br>
    <div>
      <h2>Проект "Асель"</h2>
      <%= image_tag 'Asel.JPG', class: 'img-responsive'%>
      <details>
  <summary>Подробнее...</summary>
  В сентябре 2006 г. в КГМА прошла первая международная конференция  с участием студентов и врачей из Японии на тему "Диагностика и профилактика вирусного гепатита", посвященная проблемам медицины в Кыргызстане. Поводом организации этой конференции, а в последующем и ежегодного проведения проекта "Асель", послужила трагическая история студентки Бишкекского Гуманитарного университета, Турдубаевой Асель, у которой на момент пребывания в Японии обнаружили цирроз печени. <br>
  Целью данного проекта является профилактика заболевания вирусным гепатитом. Волонтеры SIDOK, путем проведения лекций в средних школах, детских домах и интернатах республики реализуют проект “Асель”. За время проведения лекций было охвачено более 3500 школьников в 45 школах Чуйской области.<br>
  В наши планы входит расширение деятельности и распространение  не только в Чуйской области, но и Иссык-Кульской, Таласской и Нарынской областях, так как в этих регионах дети и подростки не получают достаточной информации о гепатите.
</details>
    </div>
    <hr>
    <br>
    <div>
      <h2>Проект "Не будь верблюдом"</h2>
      <%= image_tag 'no-camel.JPG', class: 'img-responsive'%>
      <details>
      <summary>Подробнее...</summary>
23 марта 2013 г. года мы организовали акцию "Не будь верблюдом!", направленную против плевков на улицах столицы.  Целью данной акции является привлечение внимания общественности к проблеме загрязнения города, а также культуре поведения на улице. 
      </details>
      </div>
      <hr>
      <br>
      <br>

    <div>
      <h2>Международная конференция: "Волонтерская деятельность в Кыргызстане"</h2>
      <%= image_tag 'volunteer.jpg', class: 'img-responsive'%>
      <details>
  <summary>Подробнее...</summary>
  Цели:<br>
  Ознакомление молодежи с волонтерской деятельностью.<br>
  Обмен мнениями и опытом между волонтерскими организациями КР<br>
  Перспективы развития волонтерского движения.
</details>
    </div>
      <hr>
      <br>
      <br>

    <div>
      <h2>Международная конференция «Этика поведения детей в обществе и роль молодежи»"</h2>
      <%= image_tag 'Ethics.jpg', class: 'img-responsive'%>
      <details>
  <summary>Подробнее...</summary>
  Проведена 1 апреля 2016 года.
</details>
    </div>
    <hr>
    <br>
    <br>

    <div>
      <h2>Международная конференция «Межкультурный диалог молодежи».</h2>
      <%= image_tag 'JICA.jpg', class: 'img-responsive'%>
      <details>
  <summary>Подробнее...</summary>
  11 марта 2014 года. Гости и участники: студенты и профессора университета Ибараки (Япония), представители JICA (Japan International Cooperation Agency) -  японское агентство международного сотрудничества и JOCV (Japan overseas cooperation agency) – волонтеры из Японии, при JICA. Цель конференции: Развитие молодёжного сотрудничества посредством волонтерства, и создание площадок для обмена опытом и диалога.
</details>
    </div>
    <hr>
    <br>
    <br>

    <div>
      <h2>Aкция "Bishkek[ECO]"</h2>
      <%= image_tag 'no-image.png', class: 'img-responsive'%>
      <details>
  <summary>Подробнее...</summary>
Октябрь 2013 года. Акция организована совместно с волонтерами JOCV. Были рассмотрены  проблемы мусора в городе. После волонтеры SIDOK и JOCV прошлись по заранее намеченному маршруту(Гос.Регистр - КГУСТА), собрав мусор на дорогах города.
</details>
    </div>
    <hr>
    <br>
    <br>

  </div>
</div>


<!-- <div class="jumbotron">
  <div class="container">
    <div>
      <h1 id="members">Участники</h1>
      <h3>Волонтеры</h3>
      <p class="">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
      <h3 id="advisors">Советники</h3>
      <p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>

      <h3 id="sponsors">Спонсоры</h3>
      <p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
  </div>
</div> -->




<!-- <div class="jumbotron">
  <div class="container">
    <h1 id="participants">Напишите нам</h1>
    <form class="form-horizontal">
      <fieldset id="idea-proposal">
        <legend></legend>
        <div class="form-group">
          <label for="inputEmail" class="col-lg-2 control-label">Email</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="inputEmail" placeholder="Email">
          </div>
        </div>

        <div class="form-group">
          <label for="textArea" class="col-lg-2 control-label">Textarea</label>
          <div class="col-lg-10">
            <textarea class="form-control" rows="3" id="textArea"></textarea>
            <span class="help-block">Идея отправляется для верификации админу, подтверждается и передaется на онлайн-голосование и рейтинг.</span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <button type="reset" class="btn btn-default">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div> -->

<div class="jumbotron">
  <div class="container">
    <h2 class="text-center" id="contact">Контакты</h2>
    <div class="thumbnail"><a href="#"><i class="fa fa-envelope fa-2x"> <span class="envelope-small">sidok_kg@yahoo.com</span></i></a></div>
    <div class="thumbnail"><a href="#"><i class="fa fa-phone fa-2x"> 0555-012-345</i></a></div>
    <div class="thumbnail"><a href="#"><i class="fa fa-phone fa-2x"> 0-700-012-345</i></a></div>
    <!-- <a href="#"><i class="fa fa-envelope fa-4x">sidok@gmail.com?</i></a><br> -->
    <div class="thumbnail"><a href="https://www.facebook.com/sidok.kg/", target="_blank"><i class="fa fa-facebook-square fa-2x"> sidok.kg</i></a></div>
    <div class="thumbnail"><a href="https://www.instagram.com/sidok.kg", target="_blank"><i class="fa fa-instagram fa-2x"> sidok.kg</i></a></div>
    <!-- <div class="thumbnail"><a href="#", target="_blank"><i class="fa fa-twitter-square fa-3x"></i></a></div> -->
    <!-- <div class="thumbnail"><a href="https://sidok.slack.com", target="_blank"><i class="fa fa-slack fa-2x"> sidok</i></a></div> -->
  </div>
</div>
