
<!-- <div class="row">
  <div class="text-center club-name">
    <span class="club-name-letters">S</span>tudents
    <span class="club-name-letters">I</span>n
    <span class="club-name-letters">D</span>evelopment
    <span class="club-name-letters">O</span>f
    <span class="club-name-letters">K</span>yrgyzstan
  </div>
</div> -->


<!-- <div class="well">
  <div class="container-carousel">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      Indicators
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      Wrapper for slides
      <div class="carousel-inner">

        <div class="item active">
          <%= image_tag '1.jpg'%>
        </div>

        <div class="item">
          <%= image_tag '2.jpg' %>
        </div>

        <div class="item">
          <%= image_tag '3.jpg' %>
        </div>
      </div>

      Left and right controls
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div> -->
<div class="jumbotron">
  <div class="container">
    <h1 id="">Кто мы?</h1>
    <p>Мы - студенты.</p>
    <p>Мы - волонтеры.</p>
    <p>Мы - студенты-волонт:еры.</p>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <h1 id="projects">Наши проекты:</h1>
    <div class="thumbnail">
      <h3>Проект "Смайл!"</h3>
      <%= image_tag '1.png', height: "50px" %>
    </div>
    <div class="thumbnail">
      <h3>Проект "Асель"</h3>
      <%= image_tag '2.png' %>
    </div>
    <div class="thumbnail">
      <h3>Проект "Тукурбо"</h3>
      <%= image_tag '3.png' %>
    </div>
  </div>
</div>


<div class="jumbotron">
  <div class="container">
    <div>
      <h1 id="members">Участники</h1>
      <h3>Волонтеры</h3>
      <p class="">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
      <h3 id="advisors">Советники</h3>
      <p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>

      <h3 id="sponsors">Спонсоры</h3>
      <p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
  </div>
</div>




<div class="jumbotron">
  <div class="container">
    <h1 id="participants">Напишите нам</h1>
    <form class="form-horizontal">
      <fieldset id="idea-proposal">
        <legend></legend>
        <div class="form-group">
          <label for="inputEmail" class="col-lg-2 control-label">Email</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="inputEmail" placeholder="Email">
          </div>
        </div>

        <div class="form-group">
          <label for="textArea" class="col-lg-2 control-label">Textarea</label>
          <div class="col-lg-10">
            <textarea class="form-control" rows="3" id="textArea"></textarea>
            <span class="help-block">Идея отправляется для верификации админу, подтверждается и передaется на онлайн-голосование и рейтинг.</span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <button type="reset" class="btn btn-default">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <h2 class="text-center">Мы в социальных сетях</h2>
    <div class="thumbnail"><a href="#"><i class="fa fa-phone fa-2x"> 0555-012-345</i></a></div>
    <div class="thumbnail"><a href="#"><i class="fa fa-phone fa-2x"> 0-700-012-345</i></a></div>
    <!-- <a href="#"><i class="fa fa-envelope fa-4x">sidok@gmail.com?</i></a><br> -->
    <div class="thumbnail"><a href="https://www.facebook.com/sidok.kg/", target="_blank"><i class="fa fa-facebook-square fa-2x"> sidok.kg</i></a></div>
    <div class="thumbnail"><a href="https://www.instagram.com/sidok.kg", target="_blank"><i class="fa fa-instagram fa-2x"> sidok.kg</i></a></div>
    <!-- <div class="thumbnail"><a href="#", target="_blank"><i class="fa fa-twitter-square fa-3x"></i></a></div> -->
    <div class="thumbnail"><a href="https://sidok.slack.com", target="_blank"><i class="fa fa-slack fa-2x"> sidok</i></a></div>
  </div>
</div>
