<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sidok</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- <%= csrf_meta_tags %> -->

    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.css"> -->
    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.css"> -->
    <link rel="stylesheet" href="/custom.css"> <!-- ADDED MYSELF-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class=container-fluid>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'SIDOK', root_path, class: "navbar-brand"%>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <ul class="nav navbar-nav">
            <!-- <li><%= link_to 'Идеи', root_path(:anchor => "ideas"), class: "fa fa-lightbulb-o"%></li> -->
            <li><%= link_to 'О нас', root_path(:anchor => "about-us") %></li>
             <li><%= link_to 'Проекты', root_path(:anchor => "projects")%></li>
            <!--<li><%= link_to 'Советники', root_path(:anchor => "advisors")%></li>
            <li><%= link_to 'Спонсоры', root_path(:anchor => "sponsors")%></li> -->

            <!-- <li class="dropdown">
              <a href="projects" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Проекты <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to 'Улыбка!Smile!', root_path(:anchor => "smile")%></li>
                <li><%= link_to 'Асель', root_path(:anchor => "asel")%></li>
                <li><%= link_to 'Тукурбо', root_path(:anchor => "tukurbo")%></li>
                <li class="divider"></li>
                <li><a href="#">Сотрудничество с другими организациями</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li> -->

            <!-- <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" id="participants">Участники<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to 'Волонтеры', root_path(:anchor => "volunteers")%></li>
                <li><%= link_to 'Советники', root_path(:anchor => "advisors")%></li>
                <li><%= link_to 'Спонсоры', root_path(:anchor => "sponsors")%></li>
                <li class="divider"></li>
                <li><a href="#", id="alumni">Выпускники</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li> -->
            <li><%= link_to 'Контакты', root_path(:anchor => "contact")%></li>

          </ul>
          <!-- <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Поиск">
            </div>
            <button type="submit" class="btn btn-default">Найти</button>
          </form> -->
          <!-- <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'Войти', root_path(:anchor => "login")%></li>
          </ul> -->
        </div>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>

    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

    <div class="panel panel-default">
      <!-- <div class="panel-body">
        Panel content
      </div> -->
      <div class="panel-footer">Created by <a href="https://github.com/baichechekei", target="_blank">&copy;Albina Yamada<a/></div>
    </div>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.js"></script>
</div>
  </body>
</html>
